.contactbackground{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    text-align: center; 
    background-color: whitesmoke;
}

/* .contacttextcontainer{
    color: gray;
    position: absolute;
    top: 55%; 
    left: 30%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    justify-content: center;
    z-index: 2; 
}

 

.contacttextheader{
    position: absolute;
    top: 20%; 
    left: 25%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    z-index: 2; 
  }
  .highlight{
    color: yellow;
    
  } */
